/* base */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

html,
body {
    background-color: #ffffff;
    line-height: normal;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #000000;
    font-family: 'Piazzolla', serif;
}

a,
a:hover {
    color: #000000 !important;
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer !important;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

input,
button {
    font-family: 'Piazzolla', serif;
    border: none;
    outline: none;
    margin: 0px;
    box-shadow: none !important;
}

input:hover,
button:hover {
    border: 0;
    outline: none;
    margin: 0px;
    box-shadow: none !important;
}

input:focus,
button:focus {
    box-shadow: none !important;
    border: none;
    outline: none;
    margin: 0px;
}

.row {
    flex-wrap: nowrap !important;
}

.container-big {
    width: 100%;
    margin: 0 auto;
    max-width: 1800px;
    padding: 0 5px 0 5px;
}

@media (max-width: 1400px) {
    .container {
        max-width: 1400px;
        padding: 0 8px 0 8px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 992px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 768px;
        padding: 0 5px 0 5px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 576px;
    }
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1500px;
    padding: 0 5px 0 5px;
}

@media (max-width: 1200px) {
    .container {
        max-width: 1400px;
        padding: 0 8px 0 8px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 992px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 768px;
        padding: 0 5px 0 5px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 576px;
    }
}

.title-medium {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 67px;
}

.btn-medium {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    padding: 20px 45px !important;
    border-radius: 9px;
    transition: 0.3s;
}

.btn-medium:hover {
    transform: scale(1.03);
    transition: 0.3s;
}

@media (max-width:1120px) {
    .btn-medium {
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        padding: 15px 30px !important;
        border-radius: 9px;
        transition: 0.3s;
    }
}

.title-two-level {
    font-weight: 900;
    font-size: 36px;
    line-height: 50px;
}

@media (max-width:1390px) {
    .title-two-level {
        font-size: 30px;
        line-height: 40px;
    }
}

@media (max-width: 1200px) {
    .title-two-level {
        font-size: 27px;
        line-height: 37px;
    }
}

@media (max-width: 992px) {
    .title-two-level {
        font-size: 30px;
        line-height: 40px;
    }
}

@media (max-width: 576px) {
    .title-two-level {
        font-size: 24px;
        line-height: 34px;
    }
}


/* base */


/* navigation */

.logo img {
    margin-right: 135px;
}

.nav-link {
    margin: 0 15px;
    padding: 0px !important;
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    transition: .4s;
}

.nav-link::after {
    content: '';
    width: 0%;
    height: 2.5px;
    display: table;
    position: absolute;
    bottom: -7px;
    left: 0;
    background: linear-gradient(90deg, #00D900 -0.39%, #FCFE00 100%);
    transition: width 0.4s ease-out;
}

.nav-link:hover:after {
    width: 100%;
    font-weight: 900;
}

.nav-link:hover {
    font-weight: 600;
}

.nav-number {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    background: #08A652;
    border-radius: 9px;
    padding: 15px 30px !important;
    transition: 0.3s;
}

.nav-number:hover {
    transform: scale(1.03);
    transition: 0.3s;
}

.nav-number a {
    color: #ffffff !important;
    letter-spacing: 0.6px;
}


/* navigation */


/* header */

.approval {
    padding-top: 95px;
    margin-bottom: 150px;
    background: #F0F3F6;
    border-radius: 20px;
}

.approval-block {
    margin-left: 150px;
    padding-bottom: 80px;
}

.approval-title {
    width: 455px;
}

.approval-rate {
    font-weight: 600;
    font-size: 30px;
    line-height: 42px;
    width: 375px;
    display: inline-block;
    margin-bottom: 50px;
}

.approval-rate span {
    color: #08A652;
}

.approval-help {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.approval-list {
    margin-bottom: 50px;
}

.approval-list__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    width: 380px;
    position: relative;
    padding-left: 30px;
}

.approval-list__item::after {
    background-repeat: no-repeat;
    width: 13px;
    height: 10px;
    content: '';
    display: table;
    background-image: url(../img/header/ok-svg.svg);
    position: absolute;
    top: 6px;
    left: 8px;
}

.approval-btn {
    border: 2px solid #098241 !important;
    background: #08A652;
    color: #ffffff;
}

.subblock--semicircle {
    width: auto;
}

.subblock--couple {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(25%);
}

.approval-picture__subblock {
    margin-right: 25px;
}


/* header */


/* active */

.active {
    margin-bottom: 150px;
}

.active-block__credit {
    margin-top: 65px;
}

.active-title {
    width: 480px;
}

.block__credit--take {
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    width: 440px;
}

.block__card--item {
    background: linear-gradient(132.42deg, #08A652 36.89%, #EAFC1F 171.19%);
    border-radius: 10px;
    color: #fff;
    padding: 60px 0 50px 40px;
}

.card--item__title {
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    width: 240px;
}

.card--iten__descroption {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    width: 160px;
}

.card--item__picture {
    bottom: -10px;
    right: -15px;
}


/* active */


/* calc */


/* calc */

.calc {
    padding: 20px;
    margin-bottom: 90px;
}

.calc input {
    width: 100%;
    display: block;
}

.calc__row {
    padding: 70px 130px;
    justify-content: space-between;
    flex-wrap: wrap !important;
}

.calc__container {
    background: #F0F3F6;
    border: 1px solid #D9E0E8;
    border-radius: 7px;
}

.calc__box {
    min-height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.calc__box--left {
    flex-basis: 50%;
}

.calc__input-row {
    display: flex;
    justify-content: space-between;
}

.calc__input-text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
}

.calc__description {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: #8E9DAC;
    max-width: 510px;
}

.calc__title {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 40px;
}

.calc__input-group {
    position: relative;
    margin-bottom: 30px;
}

.calc__input {
    padding: 10px 20px;
    padding-left: 66%;
    padding-right: 50px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 34px;
    border: 1px solid #D9E0E8;
    border-radius: 6px;
}

.calc__input:hover {
    border: 1px solid #D9E0E8 !important;
}

.calc__input:focus {
    border: 1px solid #D9E0E8 !important;
}

.calc__input--time {
    padding-left: 82%;
}

.calc__input--range {
    cursor: pointer;
}

.calc-offer {
    flex-basis: 35%;
    padding-top: 16px;
}

.calc-offer__title {
    margin: 0;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 34px;
    text-align: right;
}

.calc-offer__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

.calc-offer__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.calc-offer__rate {
    border-radius: 6px;
    margin-bottom: 10px;
    background-color: #ffffff;
}

.calc__pt {
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 42px;
}

.calc__button {
    transition: 0.3S;
    display: block;
    margin-left: auto;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 22px;
    color: #08A652;
    border: 1px solid #08A652;
    border-radius: 6px;
    padding: 20px 50px;
    background-color: #fff;
}

.calc__button:hover {
    border: 1px solid #08A652;
    margin-left: auto !important;
    color: #fff;
    background-color: #08A652;
}

.calc__button:focus {
    border: 1px solid #08A652;
    margin-left: auto !important;
    color: #fff;
    background-color: #08A652;
}

.calc-offer__rate-number {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 34px;
    color: #08A652;
}

.calc__input-text-left {
    position: absolute;
    top: 23%;
    left: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

.calc__input-text-right {
    top: 13%;
    right: 20px;
    position: absolute;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 34px;
}


/* calc */


/* range */

.kviz__ansver {
    margin-bottom: 10px;
}

.range-box {
    width: 100%;
}

.range {
    position: relative;
    height: 2px;
    background: #f2f2f2;
}

.range__input::-webkit-slider-thumb {
    width: 22px;
    height: 22px;
}

.range__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 300px;
    position: absolute;
    z-index: 5;
    background: none;
    opacity: 0;
    cursor: pointer;
    height: 40px;
    left: 0px;
    top: -20px;
    line-height: 40px;
}

.range__track {
    position: absolute;
    height: 100%;
    background: #08A652;
    display: block;
    z-index: 2;
}

.range__track:after {
    width: 10px;
    height: 10px;
    position: absolute;
    content: '';
    right: 0px;
    top: 50%;
    transform: translate(-100%, -50%);
    cursor: pointer;
    z-index: 6;
    background: #08A652;
    border-radius: 50%;
    background-color: #08A652;
    box-shadow: 0px 0px 7.84px 0.16px rgba(0, 0, 0, 0.2);
    margin-right: -10px;
}

.range__track--time:after {
    transform: translate(-50%, -50%);
}

.range-val {
    color: #333333;
    position: absolute;
    right: 0;
    margin-right: -50px;
    bottom: -30px;
    background-color: #fff;
    font-size: 16px;
    width: 100px;
    text-align: center;
}

.min_val_range {
    position: absolute;
    left: 0;
    bottom: -30px;
    color: #aaaaaa;
    font-size: 16px;
}

.max_val_range {
    position: absolute;
    right: 0;
    color: #aaaaaa;
    bottom: -30px;
    font-size: 16px;
}


/* range */


/* probabiliti */

.probabiliti {
    /* margin-bottom: 70px; */
}

.para {
    margin-right: 75px;
    margin-left: -40px;
}

.difficulti-case__title {
    margin-bottom: 40px;
    width: 580px;
    padding-top: 20px;
}

.problem-list__block {
    margin-right: 80px;
}

.list__problem--item {
    padding-left: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    width: 350px;
    position: relative;
}

.list__problem--item:nth-child(2) {
    border-top: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
}

.list__problem--item::before {
    position: absolute;
    content: '';
    height: 8px;
    width: 8px;
    background: #08A652;
    top: 27px;
    left: 0;
    border-radius: 50%;
}


/* probabiliti */


/* get-a-loan */

.get-a-loan {
    background: #F0F3F6;
    padding-top: 120px;
    padding-bottom: 110px;
    margin-bottom: 70px;
}

.get-a-loan-title {
    margin-bottom: 85px;
}

.loan__item {
    background: #FFFFFF;
    border: 1px solid #D8E3ED;
    border-radius: 12px;
    width: 480px;
    padding: 30px 0 0 30px;
    height: 240px;
    z-index: 1;
}

.loan__item--title {
    margin-bottom: 17px;
    font-weight: 900;
    font-size: 24px;
    line-height: 34px;
    color: #08A652;
}

.loan-list__paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #575757;
    padding-left: 17px;
}

.loan-list__paragraph::before {
    position: absolute;
    content: '';
    height: 8px;
    width: 8px;
    top: 6px;
    left: 4px;
    background: #08A652;
    border-radius: 50%;
}

.loan__picture {
    z-index: -1;
    position: absolute!important;
    transform: translateX(37%);
}

.loan__picture--one {
    top: -20px;
    right: 0;
}

.loan__picture--two {
    top: 20px;
    right: -10px;
}

.loan__picture--three {
    top: -2px;
    right: 120px;
}

.loan__picture--four {
    top: 30px;
    right: 20px;
}

.loan__picture--five {
    top: 40px;
    right: 41px;
}

.loan__picture--six {
    top: 35px;
    right: 50px;
}


/* get-a-loan */


/* ninety-five */

.ninety-five .container-big {
    margin-left: -150px;
}

.ninety-five-block {
    margin-left: 240px;
}

.congratulation {
    z-index: 1;
    margin-right: 65px;
}

.okrujnost {
    z-index: -1;
    max-width: 1272px;
    bottom: -861px;
    left: -205px;
}

.abcolute-sale {
    top: 30px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #9B73DC;
    border-radius: 50%;
    padding: 20px;
    width: 284px;
}

.sale__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 101px;
    color: #ffffff;
    margin-bottom: 17px;
    position: relative;
}

.sale__title::before {
    width: 190px;
    height: 2px;
    content: '';
    position: absolute;
    display: table;
    background-color: #FFFFFF;
    top: 105px;
    left: -20px;
}

.sale__probabiliti {
    font-weight: 900;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    width: 190px;
}

.ninety-five__information {
    padding-top: 30px;
}

.information-brief__one {
    width: 540px;
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
}

.information-brief__one br {
    display: none;
}

.information-brief__two {
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 85px;
    width: 485px;
}

.brief__three--color {
    color: #08A652;
    ;
}


/* ninety-five */


/* stages */

.stages {
    background: #F0F3F6;
}

.stages__container {
    padding: 120px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr repeat(4, 1fr);
    grid-gap: 30px;
}

.stages__card-title {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 50px;
}

.stages__card-title--big {
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 90px;
    color: #08A652;
}

.stages__card-content-title {
    margin: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 30px;
}

.stages__card-content-text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.stages__card--border {
    border: 10px solid #F0F3F6;
    box-shadow: 2px 4px 8px rgba(202, 214, 225, 0.7);
    border-radius: 12px;
}

.stages__card-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #D8E3ED;
    border-radius: 9px;
    padding: 20px;
    background-color: #fff;
}

.stages__card-main {
    padding-top: 45px;
    padding-left: 60px;
    grid-area: 2/1/4/2;
}

.stages__card--border-1 {
    grid-area: 2/2/4/3;
}

.stages__card--border-2 {
    grid-area: 4/1/6/2;
}

.stages__card--border-3 {
    grid-area: 4/2/6/3;
}

.stages__img {
    grid-area: 1/3/6/4;
}


/* stages */


/* quiz */

.html__quiz {
    background: #F0F3F6;
}

.quiz {
    background: #F0F3F6;
    position: relative;
    padding: 70px 20px 100px 20px;
}

.quiz--2,
.quiz--3,
.quiz--4,
.quiz--5,
.quiz--6,
.quiz--7,
.quiz--8,
.quiz--9,
.quiz--success {
    display: none;
}

.quiz__ring {
    left: 0px;
    bottom: 0;
    position: absolute;
}

.quiz__circle {
    position: absolute;
    top: 0;
    right: 30px;
}

.quiz__ring--mobile {
    position: absolute;
    right: 0;
    bottom: 30px;
    display: none;
}

.quiz__circle--mobile {
    position: absolute;
    top: 10px;
    left: 0;
    display: none;
}

.quiz__container {
    position: relative;
    backdrop-filter: blur(35px);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    background: linear-gradient(101.94deg, rgba(255, 255, 255, 0.6) 26.27%, rgba(255, 255, 255, 0.25) 79.44%);
    padding: 70px 20px 90px 20px;
}

.quiz__title {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 50px;
    max-width: 1050px;
    margin: 0;
    margin: auto;
    margin-bottom: 45px;
    text-align: center;
}

.quiz__title span {
    color: #08A652;
}

.quiz__button {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    border: 2px solid transparent;
    background: #9B73DC;
    border-radius: 9px;
    padding: 20px 40px;
    margin: auto;
    transition: 0.3s;
}

.quiz__button:hover {
    transition: 0.3s;
    margin: auto;
    background: #FFFFFF;
    color: #9B73DC;
    border: 2px solid #9B73DC;
}

.quiz__button:focus {
    border: 2px solid #9B73DC;
    transition: 0.3s;
    margin: 0 auto;
}

.quiz__box {
    flex-basis: 40%;
}

.quiz__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.quiz__box--img {
    position: absolute;
    left: 180px;
    bottom: 0;
}

.quiz__box-title {
    margin: 0;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 34px;
}

.step {
    display: flex;
    justify-content: flex-end;
    padding: 60px 280px 60px 0;
    height: 703px;
}

.quiz__input {
    display: none;
}

.quiz__input:checked+.quiz__input-text {
    border: 1px solid #08A652;
    background: #08A652;
    color: #ffffff;
}

.quiz__input-text {
    transition: 0.3s;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    cursor: pointer;
}

.quiz__label {
    margin-bottom: 10px;
    display: block;
}

.quiz__label:last-of-type {
    margin-bottom: 80px;
}

.step__button {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    background: #08A652;
    border-radius: 9px;
    padding: 15px 70px;
    border: 2px solid #08A652;
    transition: 0.3s;
}

.step__button:hover {
    border: 2px solid #08A652;
    color: #08A652;
    background-color: transparent;
}

.step__button-wrap {
    display: flex;
}

.step__button--back {
    border: 2px solid #CCCCCC;
    background-color: #CCCCCC;
    margin-right: 10px;
}

.step__button--back:hover {
    color: #CCCCCC;
    background-color: transparent;
}

.quiz-tel {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #A3A3A3;
    padding: 20px;
    width: 100%;
    border: 1px solid #E0E0E0;
}

.step--9 {
    padding-top: 120px;
}

.quiz__box-subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    max-width: 400px;
}

.success {
    padding: 180px 90px 60px 0 !important;
}

.success__title {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 50px;
    color: #08A652;
}

.success-quiz__box-wrap {
    display: flex;
}

.success__text {
    margin-right: 60px;
}

.success-quiz__box {
    flex-basis: 50%;
}

.success__button-wrap {
    margin-left: auto;
    margin-right: auto;
}


/* quiz */


/* info */

.info {
    padding: 50px 20px;
    background: linear-gradient(to bottom, #F0F3F6 60%, #ffffff 40%);
}

.info__container {
    display: grid;
    grid-template-columns: 33% 30% 30%;
    grid-gap: 50px;
}

.info__title {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 67px;
    padding-top: 50px
}

.info__title span {
    color: #08A652;
}

.info__card {
    box-shadow: 4px 24px 50px -16px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    padding: 40px 20px 80px 40px;
}

.info__card--white {
    background-color: #ffffff;
}

.info__card--green {
    background: linear-gradient(132.42deg, #08A652 36.89%, #EAFC1F 171.19%);
    color: #ffffff;
}

.info__card-title {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 34px;
    margin: 0;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.info__card-title--pink {
    color: #FF7A7A;
}

.info__text,
.info__li {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.info__li span {
    font-weight: 600;
}

.info__li {
    margin-bottom: 10px;
}

.info__text {
    margin-bottom: 50px;
}

.info__text:last-of-type {
    margin-bottom: 0 !important;
}

.info__ul {
    margin-bottom: 50px;
}


/* info */


/* questions */

.questions {
    padding-right: 20px;
}

.questions__container {
    max-width: 1700px;
}

.questions__box-girl {
    margin-right: 90px;
}

.questions__title {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 90px;
    padding-top: 25px;
}

.questions__question {
    margin-bottom: 10px;
}

.questions__question-title {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    border-radius: 12px;
    background-color: #F0F3F6;
    padding: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.questions__question-title--active {
    background-color: #08A652;
    color: #FFFFFF;
}

.questions__question-content {
    padding-left: 20px;
    padding-right: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    max-width: 800px;
}

.questions__question-content--active {
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
}


/* questions */


/* reviews */

.reviews {
    margin-bottom: 180px;
}

.reviews-title {
    margin-bottom: 85px;
}

.fancybox-button--arrow_left,
.fancybox-button--arrow_right,
.fancybox-infobar,
.fancybox-button--play,
.fancybox-button--thumbs {
    display: none;
}

.video-block--beneral {
    border: 1px solid #D8E3ED;
    border-radius: 12px;
    padding: 25px 8px 0;
    margin: 20px 10px;
}

.reviews .slick-slide {
    padding-bottom: 25px;
}

.video-block__title {
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
}

.video-block__date {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #C8C8C8;
}

.block--slider__card {
    margin: 0 auto;
    transform: translateY(25px);
    border-radius: 12px;
}

.prev {
    transform: rotate(180deg);
}

.prev,
.next {
    filter: grayscale(100%);
    cursor: pointer;
    transition: 0.4s;
}

.prev:hover,
.next:hover {
    filter: none;
    transition: 0.4s;
}

.slick-dots {
    display: flex;
}

.slick-dots li {
    margin-right: 8px;
}

.slick-dots li:last-child {
    margin-right: 0px;
}

.slick-dots li button {
    line-height: 0;
    height: 16px;
    width: 16px;
    color: transparent;
    background: #C4C4C4;
    padding: 0;
    border-radius: 50%;
    transition: .4s;
}

.slick-dots .slick-active button {
    background: #08A652;
    width: 40px;
    border-radius: 12px;
    transition: .4s;
}


/* reviews */


/* footer */

footer {
    background-color: #08A652;
    padding: 40px 0 70px;
}

.logo-company {
    margin-top: 20px;
}

.timetable {
    border-right: 1px solid #64D097;
    border-left: 1px solid #64D097;
    padding: 20px 0;
}

.navigation-footer {
    margin-bottom: 32px !important;
    margin: 0 100px;
}

.footer__item--link {
    font-weight: normal;
    font-size: 14px;
    line-height: 180%;
    color: #FFFFFF !important;
}

.footer__item--link:hover {
    color: #FFFFFF !important;
}

.day {
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.day span {
    font-size: 14px;
}

.footer-address {
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
}

.footer-btn {
    margin-top: 20px;
    height: 60px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background: #FFFFFF;
    border-radius: 9px;
    color: #08A652;
}

.footer-btn:hover {
    margin-top: 20px;
}


/* footer */


/* modal */

.modal-title {
    font-weight: 900;
    font-size: 48px;
    line-height: 67px;
    color: #08A652;
}

.modal-thanks {
    z-index: 20;
    background: #d4d6d8;
    position: fixed;
    width: 450px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

@media (max-width: 576px) {
    .modal-thanks {
        width: 310px;
    }
    .modal-title {
        font-size: 36px;
        line-height: 50px;
    }
}

.modal-thanks__content {
    padding: 120px 0 0 0;
}

@media (max-width: 576px) {
    .modal-thanks__content {
        padding: 70px 0 0 0;
    }
}

.thanks__content--text {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 180px;
    text-align: center;
}

@media (max-width: 576px) {
    .thanks__content--text {
        margin-bottom: 160px;
    }
    .thanks__content--text {
        font-size: 14px;
        line-height: 17px;
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 900px;
    }
}

.modal-body--content {
    padding: 35px 50px;
    background: #F0F3F6;
    overflow: hidden;
}

.modat-text__information {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    width: 290px;
    margin-bottom: 85px;
}

.label-radio {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    font-size: 12px;
}

.real-radio {
    display: none;
}

.custom-radio {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 16px;
    vertical-align: middle;
    background: #94caad;
    cursor: pointer;
}

.custom-radio--text {
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
}

.custom-radio img {
    right: 0;
    position: absolute;
    top: 0;
    transform: translate(-27%, 35%);
}

.label-radio input:checked+.custom-radio {
    background: #029b4a;
}

.form-modal--footer {
    border-radius: 20px;
    background: linear-gradient( 101.94deg, rgba(255, 255, 255, 0.6) 26.27%, rgba(255, 255, 255, 0.25) 79.44%);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(35px);
    filter: blur(10%);
    display: flex;
    padding: 40px 45px;
    flex-direction: column;
    position: relative;
}

.close-modal--btn {
    position: absolute;
    top: 30px;
    right: 25px;
}

.close-modal--btn span {
    text-decoration: underline;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #B4B4B4;
}

.form-test--modal {
    margin-bottom: 70px !important;
    margin-top: 115px;
}

.style-input {
    border: 1px solid #C8C8C8;
    border-radius: 6px;
    width: 320px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #C4C4C4;
}

.style-input:hover {
    border: 1px solid #C8C8C8;
}

.style-input:focus {
    border: 1px solid #C8C8C8;
}

.modal-footer {
    display: flex;
    border-top: none;
    padding: 0px;
    justify-content: flex-start;
    margin-bottom: 50px;
}

.modal-footer .btn {
    font-size: 18px !important;
    line-height: 25px !important;
    color: #FFFFFF;
    padding: 18px 45px !important;
    background: #08A652;
    border-radius: 9px;
    border: none !important;
}

.modal-footer .btn:focus {
    background: #08A652 !important;
}

.purple-modal {
    transform: translateX(-50%);
    position: absolute;
    top: 75px;
    left: 0;
}

.green-modal {
    transform: translate(50%, 50%);
    position: absolute;
    right: 0;
    bottom: 0;
}