/* base */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

html,
body {
    background-color: #ffffff;
    line-height: normal;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #000000;
    font-family: 'Piazzolla', serif;
}

a,
a:hover {
    color: #000000 !important;
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer !important;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

input,
button {
    font-family: 'Piazzolla', serif;
    border: none;
    outline: none;
    margin: 0px;
    box-shadow: none !important;
}

input:hover,
button:hover {
    border: 0;
    outline: none;
    margin: 0px;
    box-shadow: none !important;
}

input:focus,
button:focus {
    box-shadow: none !important;
    border: none;
    outline: none;
    margin: 0px;
}

.row {
    flex-wrap: nowrap !important;
}

.container-big {
    width: 100%;
    margin: 0 auto;
    max-width: 1800px;
    padding: 0 5px 0 5px;
}

@media (max-width: 1400px) {
    .container {
        max-width: 1400px;
        padding: 0 8px 0 8px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 992px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 768px;
        padding: 0 5px 0 5px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 576px;
    }
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1500px;
    padding: 0 5px 0 5px;
}

@media (max-width: 1200px) {
    .container {
        max-width: 1400px;
        padding: 0 8px 0 8px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 992px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 768px;
        padding: 0 5px 0 5px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 576px;
    }
}

.title-medium {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 67px;
}

.btn-medium {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    padding: 20px 45px !important;
    border-radius: 9px;
    transition: 0.3s;
}

.btn-medium:hover {
    transform: scale(1.03);
    transition: 0.3s;
}

@media (max-width:1120px) {
    .btn-medium {
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        padding: 15px 30px !important;
        border-radius: 9px;
        transition: 0.3s;
    }
}

.title-two-level {
    font-weight: 900;
    font-size: 36px;
    line-height: 50px;
}

@media (max-width:1390px) {
    .title-two-level {
        font-size: 30px;
        line-height: 40px;
    }
}

@media (max-width: 1200px) {
    .title-two-level {
        font-size: 27px;
        line-height: 37px;
    }
}

@media (max-width: 992px) {
    .title-two-level {
        font-size: 30px;
        line-height: 40px;
    }
}

@media (max-width: 576px) {
    .title-two-level {
        font-size: 24px;
        line-height: 34px;
    }
}


/* base */


/* navigation */

.logo img {
    margin-right: 135px;
}

.nav-link {
    margin: 0 15px;
    padding: 0px !important;
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    transition: .4s;
}

.nav-link::after {
    content: '';
    width: 0%;
    height: 2.5px;
    display: table;
    position: absolute;
    bottom: -7px;
    left: 0;
    background: linear-gradient(90deg, #00D900 -0.39%, #FCFE00 100%);
    transition: width 0.4s ease-out;
}

.nav-link:hover:after {
    width: 100%;
    font-weight: 900;
}

.nav-link:hover {
    font-weight: 600;
}

.nav-number {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    background: #08A652;
    border-radius: 9px;
    padding: 15px 30px !important;
    transition: 0.3s;
}

.nav-number:hover {
    transform: scale(1.03);
    transition: 0.3s;
}

.nav-number a {
    color: #ffffff !important;
    letter-spacing: 0.6px;
}


/* navigation */


/* header */

.approval {
    padding-top: 95px;
    margin-bottom: 150px;
    background: #F0F3F6;
    border-radius: 20px;
}

.approval-block {
    margin-left: 150px;
    padding-bottom: 80px;
}

.approval-title {
    width: 455px;
}

.approval-rate {
    font-weight: 600;
    font-size: 30px;
    line-height: 42px;
    width: 375px;
    display: inline-block;
    margin-bottom: 50px;
}

.approval-rate span {
    color: #08A652;
}

.approval-help {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.approval-list {
    margin-bottom: 50px;
}

.approval-list__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    width: 380px;
    position: relative;
    padding-left: 30px;
}

.approval-list__item::after {
    background-repeat: no-repeat;
    width: 13px;
    height: 10px;
    content: '';
    display: table;
    background-image: url(../img/header/ok-svg.svg);
    position: absolute;
    top: 6px;
    left: 8px;
}

.approval-btn {
    background: #08A652;
    color: #ffffff;
}

.subblock--semicircle {
    width: auto;
}

.subblock--couple {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(25%);
}

.approval-picture__subblock {
    margin-right: 25px;
}


/* header */


/* active */

.active {
    margin-bottom: 150px;
}

.active-block__credit {
    margin-top: 65px;
}

.active-title {
    width: 480px;
}

.block__credit--take {
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    width: 440px;
}

.block__card--item {
    background: linear-gradient(132.42deg, #08A652 36.89%, #EAFC1F 171.19%);
    border-radius: 10px;
    color: #fff;
    padding: 60px 0 50px 40px;
}

.card--item__title {
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    width: 240px;
}

.card--iten__descroption {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    width: 160px;
}

.card--item__picture {
    bottom: -10px;
    right: -15px;
}


/* active */


/* probabiliti */

.probabiliti {
    /* margin-bottom: 70px; */
}

.para {
    margin-right: 75px;
    margin-left: -40px;
}

.difficulti-case__title {
    margin-bottom: 40px;
    width: 580px;
    padding-top: 20px;
}

.problem-list__block {
    margin-right: 80px;
}

.list__problem--item {
    padding-left: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    width: 350px;
    position: relative;
}

.list__problem--item:nth-child(2) {
    border-top: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
}

.list__problem--item::before {
    position: absolute;
    content: '';
    height: 8px;
    width: 8px;
    background: #08A652;
    top: 27px;
    left: 0;
    border-radius: 50%;
}


/* probabiliti */


/* get-a-loan */

.get-a-loan {
    background: #F0F3F6;
    padding-top: 120px;
    padding-bottom: 110px;
    margin-bottom: 70px;
}

.get-a-loan-title {
    margin-bottom: 85px;
}

.loan__item {
    background: #FFFFFF;
    border: 1px solid #D8E3ED;
    border-radius: 12px;
    width: 480px;
    padding: 30px 0 0 30px;
    height: 240px;
    z-index: 1;
}

.loan__item--title {
    margin-bottom: 17px;
    font-weight: 900;
    font-size: 24px;
    line-height: 34px;
    color: #08A652;
}

.loan-list__paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #575757;
    padding-left: 17px;
}

.loan-list__paragraph::before {
    position: absolute;
    content: '';
    height: 8px;
    width: 8px;
    top: 6px;
    left: 4px;
    background: #08A652;
    border-radius: 50%;
}

.loan__picture {
    z-index: -1;
    position: absolute!important;
    transform: translateX(37%);
}

.loan__picture--one {
    top: -20px;
    right: 0;
}

.loan__picture--two {
    top: 20px;
    right: -10px;
}

.loan__picture--three {
    top: -2px;
    right: 120px;
}

.loan__picture--four {
    top: 30px;
    right: 20px;
}

.loan__picture--five {
    top: 40px;
    right: 41px;
}

.loan__picture--six {
    top: 35px;
    right: 50px;
}


/* get-a-loan */


/* ninety-five */

.ninety-five .container-big {
    margin-left: -150px;
}

.ninety-five-block {
    margin-left: 240px;
}

.congratulation {
    z-index: 1;
    margin-right: 65px;
}

.okrujnost {
    z-index: -1;
    max-width: 1272px;
    bottom: -861px;
    left: -205px;
}

.abcolute-sale {
    top: 30px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #9B73DC;
    border-radius: 50%;
    padding: 20px;
    width: 284px;
}

.sale__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 101px;
    color: #ffffff;
    margin-bottom: 17px;
    position: relative;
}

.sale__title::before {
    width: 190px;
    height: 2px;
    content: '';
    position: absolute;
    display: table;
    background-color: #FFFFFF;
    top: 105px;
    left: -20px;
}

.sale__probabiliti {
    font-weight: 900;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    width: 190px;
}

.ninety-five__information {
    padding-top: 30px;
}

.information-brief__one {
    width: 540px;
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
}

.information-brief__one br {
    display: none;
}

.information-brief__two {
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 85px;
    width: 485px;
}

.brief__three--color {
    color: #08A652;
    ;
}


/* ninety-five */


/* reviews */

.reviews {
    margin-bottom: 180px;
}

.reviews-title {
    margin-bottom: 85px;
}

.fancybox-button--arrow_left,
.fancybox-button--arrow_right,
.fancybox-infobar,
.fancybox-button--play,
.fancybox-button--thumbs {
    display: none;
}


/* reviews */